body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #4a0909;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: flexbox;
    margin-right: 10px;
    flex-wrap:wrap;
    text-align: right;
    font-family:Arial, Helvetica, sans-serif
  }
  
  nav ul li a {
    color: #fff;
    text-decoration:underline;
  }
  
  section {
    padding: 50px;
  }
  
  section h2 {
    margin-top: 0;
  }
  
  #about {
    background-color:burlywood

  }
  .work-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .work-images a {
    flex-basis: 30%;
    margin-bottom: 20px;
    text-decoration: none;
    color: #333;
  }
  
  .work-images img {
    width: 100%;
  }


  #contact {
    background-color:#4a0909;
    color:#fff;
  }
  footer {

color:#4a0909
font-family:'Courier New', Courier, monospace;
text-align: right;
  }